<template name="commentForm">
    <div class="row">
        <div class="col-md-12">
            <h5>Post a new comment</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="comment-form">
                <form class="js-save-comment-form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Comment" id="comment">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

</template>