<template name="navbar">
    <!-- navbar  - you will be putting the login functions here -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    TopLink
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                <div class="nav navbar-right">
                    <a type="button" class="btn btn-default navbar-btn">{{> loginButtons align="right"}}</a>
                </div>
            </div>
        </div>
    </nav>
</template>